.btn {
    background-color: transparent;
    color: rgb(104, 81, 255);
    border: 1px solid rgba(104, 81, 255, 0.5);
    padding: 8px 13px;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 5px;
}